#navbar {
    overflow: hidden;
    background-color: #333;
}

#navbar a {
    font-family: 'Taviraj', serif;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.title {
    font-family: 'Taviraj', serif;
    font-weight: bold;
    text-align: center;
    padding-top: 5vh;
    font-size: 150%;
}

.content {
    height: 95vh;
}

.explanation {
    font-family: 'Oswald', sans-serif;
    font-size: 150%;
    text-align: justify;
    margin-bottom: 5vh;
}

.explanation p {
    padding: 1%;
    margin: unset;
}

.example {
    font-family: 'Pridi', serif;
    font-size: 125%;
}

.active {
    background-color: green;
}